name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: echo "Nothing to install yet"

    - name: Run tests
      run: bash tests/test_app.sh

    - name: Build project
      run: zip -r build.zip .
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: build.zip